@import "~materialize-css/dist/css/materialize.min.css";

body {
    background-color: #f3f3ff;
}
input.yellow-input {
    border-bottom: 1px solid #ffffff!important;
    box-shadow: 0 1px 0 0 #ffffff!important;
}

input.yellow-input + label {
    color: #ffffff!important;
}
input.yellow-input:focus + label {
    color: #ffffff!important;
}

input.yellow-input:focus {
    border-bottom: 0 solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}
input.orange-input {

    border-bottom: 0 solid #9e9e9e!important;
    box-shadow: 0 1px 0 0 #9e9e9e!important;
}
input.orange-input + label {
   color: #9e9e9e!important;
}
input.orange-input:focus + label {
    color: #f9a825!important;
}
input.orange-input:focus {
    border-bottom: 0 solid #f9a825!important;
    box-shadow: 0 1px 0 0 #f9a825!important;
}
textarea.orange-input:focus+label{
    color: #f9a825!important;
}
textarea.orange-input:focus {
    border-bottom: 0 solid #f9a825!important;
    box-shadow: 0 1px 0 0 #f9a825!important;
}
a.orange-link {
    color: #f9a825!important;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1 0 auto;
}